@charset "utf-8";
body {
	line-height: 1.5;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
a img {
	border: 0 none;
}
a:hover, a:active {
	outline: medium none;
	color: #868585;
	text-decoration: none;
	transition: all 0.2s eas-in-out 0s;
}
:focus {
	outline: 0 none;
}
body {
 background: none repeat scroll 0 0 #FFFFFF color: #333333;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 100%;
	text-rendering: optimizelegibility;
}
ul li {
	list-style-type: none;
	padding: 0;
	position: relative;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
.container {
	margin: 0 0;
	width: 940px;
	height: 100%;
	overflow: auto;
	padding: 3em 40px;
	position: relative;
}
#home.container {
	background: url(/background-image-flipped.png) no-repeat fixed center center;
	position: fixed;
	width: 100%;
}
section {
	display: block;
}
.side-menu {
	float: left;
	width: 220px;
	padding: 9px;
	margin-right: 15px;
	overflow: visible;
	background: none repeat scroll 0 0 #FFFFFF;
}
.logo-name {
	margin-bottom: -.1em;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	font-size: 60px;
	color: #C92027;
	width: 220px;
	overflow: visible;
	white-space: nowrap;
}
.logo-subtitle {
	margin-bottom: 40px;
	line-height: 50%;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	font-size: 17px;
	color: #353535;
	overflow: hidden;
}
.logo-subtitle li {
	line-height: 1;
}
.nav {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	text-align: right;
	color: #353535;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 161 px;
	float: right;
}
.nav .active {
	color: #C92027;
}
.nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
}
.content {
	float: left;
	padding: 9px;
	width: 620px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #353535;
	background: none repeat scroll 0 0 #FFFFFF;
	margin-top: 115px;
}
.content-title {
	font-family: 'Signika', sans-serif;
	font-size: 26px;
	margin-bottom: 20px;
}
.content-text {
}
.content a {
	color: #C92027;
}
.content a:hover {
	color: #C92027;
}
